USE [UNIVER]
GO
/****** Object:  StoredProcedure [dbo].[PSUBJECT]    Script Date: 14.05.2025 12:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[PSUBJECT] @p varchar(20), @c int output
as begin
declare @PSUBJECT_c int = (select count(*)  from SUBJECT);
select SUBJECT as код, SUBJECT_NAME[дисциплина], PULPIT[кафедра] from SUBJECT where PULPIT = @p;
set @c = @@ROWCOUNT;
return @PSUBJECT_c;
end;

go

declare @k int = 0, @r int = 0, @p varchar(20)
set @p = 'ИСиТ'
exec @k = PSUBJECT @p, @c = @r output
print 'k = ' + cast(@k as varchar(5))
print 'with pulpit ' + @p + '=' + cast(@r as varchar(3))