.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.magenta {
    color: magenta;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: bold;
}
