<configuration>
	<connectionStrings>
		<!-- Строка подключения к локальной базе данных SQL Server -->
		<add name="ADONETDB"
	 connectionString="Data Source=localhost;
                           Initial Catalog=ADONETDB;
                           Integrated Security=True;
						   TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>
